<!--<div nz-row style="margin-top: 2%">-->
<!--  <div nz-col [nzOffset]="2" nzSpan="10">-->
<!--    <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--      <formly-form [fields]="fields" [form]="form"></formly-form>-->
<!--      <nz-space [nzSize]="'middle'">-->
<!--        <button *nzSpaceItem nz-button nzType="primary" type="submit">submit form</button>-->
<!--        <button *nzSpaceItem nz-button nzDanger type="reset">reset form</button>-->
<!--      </nz-space>-->
<!--    </form>-->
<!--  </div>-->
<!--</div>-->



  <router-outlet></router-outlet>

